svg {
  border: 1px solid #999;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

textarea {
  width: 400px;
  height: 400px;
  resize: none;
}

.error {
  color: red;
}

rect {
  fill: #fff;
}

.node rect {
  stroke-width: 2px;
  stroke: #333;
  fill: none;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath path {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

h1, h2 {
  color: #333;
}

label {
  margin-top: 1em;
  display: block;
}

.error {
  color: red;
}
